.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    z-index: 99999;
}

.modal-body {
    padding: 2rem;
    width: 400px;
    border-right: 10px;
    background-color: #fff;
    height: 200px;
    z-index: 999999;
}